@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Roboto:wght@400;500;700&display=swap");

:root {
  --red-color: #b91c1c;
  --pink-color: #9d174d;
  --green-color: #064e3b;
  --violet-color: #5b21b6;
  --yellow-color: #f59e0b;
  --blue-color: #1e3a8a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  color: #000;
}

.App {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* NAVBAR */
.navbar {
  background: #333;
  color: #fff;
  width: 100%;
  font-weight: bold;
  margin: 0 auto 2rem auto;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.navbar-container a {
  color: #fff;
  text-decoration: none;
}

.navbar-container a:visited {
  color: #fff;
}

.navbar-container ul {
  list-style: none;
}

.navbar-container ul li {
  display: inline-block;
}

.navbar-container .logo a,
.navbar-container ul li a {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.navbar-container .logo a:hover,
.navbar-container ul li a:hover {
  background: #fff;
  color: #000;
}

.container {
  border: 2px solid #000;
  max-width: 1100px;
  padding: 1rem;
  margin: 1rem;
  background: #f4f4f4;
  height: 100%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
  font-family: "Lato";
}

.btn {
  display: block;
  padding: 0.75rem 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.2rem;
  border: 2px solid #000;
}

.hero {
  margin-bottom: 2rem;
}

.hero-head {
  font-size: 2rem;
}

.hero-lead {
  font-size: 1.2rem;
}

.main {
  border-top: 1px solid #333;
  padding: 1rem;
}

.main .genre-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main .genre-links .btn-genre {
  width: 150px;
  font-weight: bold;
}

.btn-red {
  background: var(--red-color);
  color: #fff;
}

.btn-blue {
  background: var(--blue-color);
  color: #fff;
}

.btn-yellow {
  background: var(--yellow-color);
  color: #000;
}

.btn-violet {
  background: var(--violet-color);
  color: #fff;
}

.btn-green {
  background: var(--green-color);
  color: #fff;
}

.btn-pink {
  background: var(--pink-color);
  color: #fff;
}

.book-list {
  width: 100%;
  margin: auto;
}

.books {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  place-items: center;

  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center; */
}

.books .book {
  margin: 1rem;
  flex: 1;
}

.books .book img {
  text-align: center;
  width: 15vw;
  height: auto;
  display: inline-block;
}

.books .book .book-details {
  padding: 1rem;
  font-family: "Lato", sans-serif;
}

.fiction p.book-name {
  color: var(--red-color);
}

.thriller p.book-name {
  color: var(--blue-color);
}

.fantasy p.book-name {
  color: var(--yellow-color);
}

.romance p.book-name {
  color: var(--green-color);
}

.biography p.book-name {
  color: var(--violet-color);
}

.selfHelp p.book-name {
  color: var(--pink-color);
}

.books .book .book-details p.book-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.books .book .book-details p.book-author {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

@media screen and (max-width: 800px) {
  .books {
    grid-template-columns: 1fr 1fr;
  }

  .books .book img {
    width: 30vw;
  }
}

@media screen and (max-width: 500px) {
  .books {
    grid-template-columns: 1fr;
  }

  .books .book img {
    width: 50vw;
  }
}

@media screen and (max-width: 400px) {
  .navbar-container {
    flex-direction: column;
    justify-content: center;
  }

  .navbar-container .logo a {
    margin-bottom: 1.5rem;
  }

  .navbar-container ul li {
    margin-top: 1rem;
  }
}
